html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container{
    height: 300px;
    width: 900px;
}
.accordion-item button{
    width: 100%;
    border-radius: 0%;
    padding: 5px 15px;
    border: none;
    background-color: rgb(255, 223, 211);
    display: flex;
    justify-content: space-between;
}
.accordion-item>div{
    padding: 0px 15px;
    height: 0;
    overflow: hidden; 
    transform: height 1s linear;
}
.opened::after{
    height: auto;
}
.b1{
    height: 50px;
    width: 900px;
    text-align: left;
}
.b{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 900px;
}

button::after{
    content: '\2039';
    transform: rotate(-90deg);
}
.b:hover{
    background-color: lightblue;
}